.user-profile__button-section {
  padding-bottom: 15px;
}

.user-profile__primary-button.ant-btn-background-ghost.ant-btn-primary {
  color: #3a57e2;
  border-color: #3a57e2;
}

.user-profile h2 {
  margin: 0;
}

.user-profile__user-detail {
  display: flex;
}

.description-single-line {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.single-line-webkit {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.user-profile__image {
  width: 200px;
  flex: 0 0 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-profile__image input {
  display: none;
}

.user-profile__image img {
  object-fit: cover;
  border-radius: 4px;
  width: 200px;
  height: 200px;
  cursor: pointer;
}

.user-profile__image .not-empty-div {
  border-radius: 4px;
  width: 200px;
  height: 200px;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.user-profile__image .empty-div {
  border-radius: 4px;
  width: 200px;
  height: 200px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fafafa;
  border: 1px dashed #000;
  font-size: 16px;
  user-select: none;
}

.user-profile__image .empty-div .anticon {
  font-size: 22px;
}

.user-profile__tab-menu {
  flex: 1;
  margin-left: 16px;
  background-color: #fff;
}

.user-profile__tab-menu .ant-tabs-tab {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 7px;
  font-size: 16px;
  margin-right: 0;
}

.user-profile__tab-menu .ant-tabs-tab-active {
  border-color: #fafbfe !important;
}

.tab-menu-content-box {
  padding-right: 24px;
}

.user-profile__mobile-number .ant-input-number-handler-wrap {
  display: none;
}

.remove-number-scroll .ant-input-number-handler-wrap {
  display: none;
}